nav {
  background-color:#0547ab;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-end; 
}

nav ul li {
  margin-right: 1em; }

nav ul li a {
  display: inline-block;
  padding: 1em 2em; 
  color: white;
  text-decoration: none;
}

nav ul li a:hover {
  background-color: #555;
}

header {
  color: #0547ab;
  display: flex;
  justify-content: center;
}
#signin{
  display:grid;
  justify-content: center;
  margin: 2em;
}